.post_date{
    background: #f4f4f4;
    padding:4px;
    margin:3px 0;
    display: block;
}

.post_thumb {
    width: 100%;
}

.pagination_links {
    margin: 30px 0;
}

a.pagination_link {
    padding: 8px 13px;
    margin: 5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}
.pagination_links strong {
    padding: 8px 13px;
    margin: 5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}

.cat_delete {
    display: inline;
}